.dialogs {
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.dialogsItems .active {
    color: black;
}

.dialogsHeader {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    height: 900px;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: black;
}

.textarea {
    width: 300px;
    height: 30px;
    border-radius: 8px;
}

.button {
    float: right;
    background-color: #edeef0;
    padding: 10px;
    font-size: 10px;
    border: none;
    margin: 5px;
    border-radius: 10px;
}
